<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Create by <a href="https://github.com/cwc845982120">Cao Wencheng</a>
        </div>
    </div>
</footer>